<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/core/index.html">Core</a>
        <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/battles/index.html">Battles</a>
        <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/armies/index.html">Armies</a>
<!--    <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Products</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Product A</a>
            <a class="navbar-item" href="#">Product B</a>
            <a class="navbar-item" href="#">Product C</a>
          </div>
        </div> -->
        <div class="navbar-item has-dropdown is-hoverable">
          <span class="navbar-link">Resources</span>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/core/downloads.html">Downloads</a>
            <a class="navbar-item" href="https://builder.epicremastered.com/" target="_blank">Detachment Builder</a>
            <a class="navbar-item" href="https://thehobby.zone/resources/e40k-compendium" target="_blank">Epic 40,000 Compendium</a>
          </div>
        </div>
<!--        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="#">Download</a>
          </span>
        </div> -->
        {{#if env.SITE_SEARCH_PROVIDER}}
        <div class="navbar-item search hide-for-print">
          <div id="search-field" class="field has-filter">
            <input id="search-input" type="text" placeholder="Search…"{{#if page.home}} autofocus{{/if}}>
            <span class="control">
              <a class="button is-primary" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/home/search-functions.html" title="Click to learn about advanced search functionality">?</a>
            </span>
            <label class="filter checkbox"  title="Select to narrow your results to the current component only">
              <input id="search-checkbox" type="checkbox" data-facet-filter="component:{{page.component.name}}"> only this component
            </label>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </nav>
</header>
